h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    color: white;
    font-weight: 300;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: grey;

}

body {
    background-color: black;
}

header {
    text-align: center ;
}

main {
    text-align: center;
}

footer {
    text-align: right;
}

a {
    color: aquamarine;
    font-size: 16px;
    margin: 20px;
}

video {
    margin: 20px 0; 
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 20px 0;
}